.summary_main {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 280px;
    margin-top: -124px;
    margin-bottom: 100px;

}

.summary_inner {
    width: 920px;
    height: 246px;
    background-color: #FFF9F5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 115px;
    padding-right: 115px;
}

.summary_inner h3 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
}

.summary_inner p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}