.main_nav0 {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;

}

.main_nav {
    background-color: #ffffff;
    display: flex;
    padding: 20px 280px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;


}



.logosize {
    width: 163px;
    height: 60px;
    margin-top: 5px;
}

#login_bg {
    width: 110px;
    height: 166px;
    margin-bottom: -66px;
    background-image: url(C:\projects\assignment\src\Media\loginbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button_style {
    font-size: 28px;
    text-decoration: none;
    color: white;
}


.menu_commonview a {
    text-decoration: none;
    margin-right: 44px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    padding-left: 0;
    margin-left: 0;
}

.menu_commonview a::after {
    content: "";
    position: absolute;
    background-color: #FA5E01;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .3s;


}

.menu_commonview {
    padding-top: 20px;
}

.menu_commonview a:hover {
    color: black;
}

.flexiblenav {
    display: flex;
    align-items: center;
    justify-items: center;
}


.menu_commonview a:hover::after {
    width: 100%;

}



.hamburger {
    font-size: 28px;
    color: white;
    display: none;
    margin-left: 15px;
}



.sidebar1 {
    background-color: white;
    height: 100%;
    width: 230px;
    position: fixed;
    box-shadow: 3px 3px 13px #00000038;
    animation: mymove1 forwards;
    animation-duration: 1s;
    display: none;
    top: 100px;

}

.sidebar1 ul {

    padding-left: 70px;
}

.sidebar2 {
    display: none;
}



@keyframes mymove1 {
    from {
        left: -300px;
    }

    to {
        left: 0px;
    }
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;


}

.sidebar_menu a {
    text-decoration: none;
    margin-top: 18px;
    text-decoration: none;
    position: relative;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
}

.sidebar_menu a::after {
    content: "";
    position: absolute;
    background-color: #FA5E01;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: .3s;

}



.sidebar_menu a:hover::after {
    width: 100%;

}


.active-color {
    color: #FA5E01;
}

.inactive-color {
    color: black;
}


@media screen and (max-width: 1000px) {

    .logosize {
        width: 120px;
        height: auto;
    }

    .menu_commonview {
        display: none;
    }


    .sidebar1 {

        display: block;
    }

    .hamburger {
        display: block;
    }

}

@media screen and (max-width: 800px) {

    .main_nav {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 500px) {

    .main_nav {
        padding: 10px 20px;
    }


}